.page {
    padding-top: 50px;
}

.ui.progress.attached.message {
    height: auto;
    padding: 1em 1.5em;
    margin-left: -1px;
    margin-right: -1px;
    box-shadow: 0 0 0 1px #a9d5de inset, 0 0 0 0 transparent;
}

.ui.attached.message:empty {
    display: none;
}